<div class="search">
        <img src="__STATIC__/index/image/logo.png" />
        
    </div>

    <div class="nav-bar-header">
        <div class="nav-inner">
            <ul class="nav-list">
                <li class="nav-item">
                    <span class="item">全部分类</span>
                    <div class="left-menu">
                        {foreach $cats as $key=>$value}
                        <div class="level-item">
                            <div class="first-level">
                                <dl>
                                    <dt class="title"><a href="{:url('index/lists/index',['id'=>$key])}" target="_blank">{$value[0]}</a></dt>
                                    {volist name="value[1]" id="vo" length="2"}
                                    <dd><a href="{:url('index/lists/index',['id'=>$vo.id])}" target="_blank" class="">{$vo.name}</a></dd>
                                    {/volist}
                                    <!-- <dd><a href="" target="_top" class="">精选品牌</a></dd>
                                    <dd><a href="" target="_top" class="">小吃快餐</a></dd> -->
                                </dl>
                            </div>
                            <div class="second-level">
                                <div class="section">
                                    <div class="section-item clearfix no-top-border">
                                        <h3>其他分类</h3>
                                        <ul>
                                            {foreach $value[1] as $v}
                                            <li><a class="hot" href="{:url('index/lists/index',['id'=>$v.id])}" target="_blank">{$v.name}</a></li>
                                            {/foreach}
                                        </ul>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                        </div>
                        {/foreach}
                        

                    </div>
                </li>
                <li class="nav-item"><a class="item first active" href="{:url('index/index/index')}">首页</a></li>
                <li class="nav-item"><a class="item" href="{:url('index/lists/index')}">团购</a></li>
                <li class="nav-item"><a class="item">商户</a></li>
            </ul>
        </div>
    </div>